@charset "UTF-8";

.logout-section {
    width: 70%;
    max-width: 300px;
    margin: 180px auto 52px;
    text-align: center;
}

.logout-title {
    margin-bottom: 45px;
    font-size: 24px;
}

.logout-item__text {
    padding: 24px;
    min-height: 32px;
    text-align: left;
}

.logout-button {
    margin-top: 15px;
}

.logout-click {
    display: block;
    margin-top: 32px;
    text-decoration: none;
    color: #289ADC;
    font-size: 14px;
}

.logout-click:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}