@charset "UTF-8";

.thanks-section {
    width: 70%;
    max-width: 300px;
    margin: 180px auto 52px;
    text-align: center;
}

.thanks-title {
    margin-bottom: 15px;
    font-size: 24px;
}

.thanks-item__text {
    padding: 24px;
    min-height: 32px;
    text-align: center;
}

.thanks-click {
    display: block;
    /* margin-top: 32px; */
    text-decoration: none;
    color: #289ADC;
    font-size: 14px;
}

.thanks-click:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}