@charset "UTF-8";

.select {
    padding: 32px 32px 5px;
    display: flex;
    justify-content: left;
    align-items: end;
    border-bottom: 1px solid #000;
}

.select-item {
    padding: 0 32px;
    color: #777;
    font-weight: bold;
}

.select-item:hover {
    cursor: pointer;
    color: #289ADC;
}

.items {
    padding: 15px 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items-item {
    position: relative;
    margin: 15px;
    width: 200px;
}

.item-price {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 5px;
    z-index: 5;
}

.item-link {
    text-decoration: none;
    color: #0000FF;
}