@charset "UTF-8";

.email-title {
    padding: 15px;
    background-color: #666;
    font-size: 32px;
    color: #FFF;
    text-align: center;
}

.main {
    padding: 24px;
    background-color: #EEE;
}

.email-content {
    border: 1px solid #888;
    border-radius: 3px;
    padding: 15px;
    background-color: #FFF;
}

.email__purchase-content {
    border: 3px double #888;
    background-color: #EEE;
    margin-top: 5px;
    padding: 15px;
}

.email__purchase-content__text-group {
    margin-bottom: 15px;
}

.email__purchase-content__text-group:last-child {
    margin-bottom: 0;
}