@charset "UTF-8";

.email-title {
    padding: 15px;
    background-color: #666;
    font-size: 32px;
    color: #FFF;
    text-align: center;
}

.main {
    padding: 24px;
    background-color: #EEE;
}

.email-content {
    border: 1px solid #888;
    border-radius: 3px;
    padding: 15px;
    background-color: #FFF;
}

.email-click {
    display: block;
    border-radius: 3px;
    background-color: #289ADC;
    width: 180px;
    height: 32px;
    line-height: 32px;
    margin: 24px auto 0;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}