@charset "UTF-8";

.email-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.email-title {
    margin-bottom: 45px;
    font-size: 24px;
}

.email-item__text {
    min-height: 32px;
    text-align: left;
}