@charset "UTF-8";

.invite-section {
    min-height: 87vh;
    padding: 15px;
    background-color: #CCFFCC;
}

.invite-table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.invite-record {
    border-top: 1px solid #888;
}

.invite-record:last-of-type {
    border-bottom: 1px solid #888;
}

.invite-title {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.invite-title:nth-of-type(1) {
    width: 5%;
}

.invite-title:nth-of-type(2) {
    width: 10%;
}

.invite-title:nth-of-type(3) {
    width: 15%;
}

.invite-title:nth-of-type(4) {
    width: 15%;
}

.invite-title:nth-of-type(5) {
    width: 55%;
}

.invite-content {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {

    .invite-title:nth-of-type(1) {
        width: 10%;
    }

    .invite-title:nth-of-type(2) {
        width: 20%;
    }

    .invite-title:nth-of-type(3) {
        width: 35%;
    }

    .invite-title:nth-of-type(4) {
        width: 35%;
    }

    .invite-title:nth-of-type(5) {
        width: 0%;
    }
}